@{
    ViewData["Title"] = "Giriş";
}

<div class="text-center">
    <h1 class="display-4">Hoş geldiniz!</h1>
    <p>
        Bu uygulama test birimine test taleplerinizi iletebileceğiniz, iletilen test taleplerinin
        durumlarını izleyebileceğiniz bir uygulamadır.
    </p>
</div>

